<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lon_Apply</title>
</head>
<body>
    {{user}}
    <tr>
        <th>Lon price</th>
        <th>
            <input name="lon_price" type="number">
        </th>
    </tr>
    <tr>
        <th>guarantee user id</th>
        <th>
            <input name="guarantee_user_id" type="number">
        </th>
    </tr>

    <div class="alert">
        <span class="apply_button" onclick="this.parentElement.style.display='none';">&times;</span>
        {response}}
    </div>

    <button type="submit" id="apply_button" style="margin-left:120px;  margin-top:20px">APPLY</button>
</body>
</html>