<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Create</title>
</head>
<body>
<style>
    #button {
         width: 80px;
         height: 20px;
    }
</style>

<form method="post">
    <table>
        <tr>
            <th>Name</th>
            <th>
                <input name="name" type="text">
            </th>
        </tr>
        <tr>
            <th>Deposit price</th>
            <th>
                <input name="deposit_price" type="number">
            </th>
        </tr>
    </table>
    <button type="submit" id="button" style="margin-left:120px;  margin-top:20px">SAVE</button>
</form>
</body>
</html>